<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="MeiMei.Properties.Settings.MeiMeiDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\MeiMeiDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--attachdbfilename=C:\Users\Kriachenko-ka\Documents\MeiMeiDataBase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MeiMeiContext" connectionString="metadata=res://*/Model.MeiMeiDataModel.csdl|res://*/Model.MeiMeiDataModel.ssdl|res://*/Model.MeiMeiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Kirill\Documents\MeiMeiDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>